@import '../core/base';
@import '../modules/grid';

.input-range {
  width: 100%;
  &__group {
    @extend .grid;
    width: 100%;
  }
  &__item {
    @extend .grid__item;
  }
  &__label,
  &__input {
    display: block;
    width: 100%;
  }
  &__value {
    @include flex(center, space-between);
  }
}
