.tabs {
  position: relative;
  padding-bottom: 1.5rem;
  & > div:first-child {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    background-color: #fff !important;
  } 
  &__link {
    text-transform: capitalize !important;
    color: #444 !important;
  }
  &__wrap {
    padding: 3.5rem 0 1.5rem;
  }
}