.well {
  @include flex(center, center, row);
  background-color: rgba(241, 241, 243, 0.7);
  color: #999;
  position: relative;
  font-size: 1.3rem;
  height: auto;
  min-height: 7rem;
  padding: 1.5rem;
  &_small {
    min-height: auto;
  }
  &_large {
    min-height: 14rem;
  }
}

.section {
  display: table;
  position: relative;
  width: 100%;
  &_gray {
    background-color: #efeded;
    height: 100%;
  }
}

hr {
  display: block;
  border: 0;
  border-top: 1px solid #eee;
  padding: 0;
  margin: .5rem 0 1.5rem;
  background: transparent;
  width: 100%;
}

.relative {
  position: relative;
}

.offset {
  padding: 1.5rem 0;
}