.radio-group {
  @include flex(center, space-between, row, row wrap);
  width: 100%;
  @include mobile-md {
    justify-content: space-between;
  }
  &__item {
    // width: auto !important;
    position: relative;
    margin-right: 1rem !important;
    margin-bottom: 1rem !important;
    & > div > div {
      margin-right: 1.5rem !important;
    }
    @include mobile-lg {
      margin-bottom: 1rem;
      width: 100% !important;
    }
  }

  &__wrap {
    @include flex(center, center);
    position: relative;
    padding: 1rem .5rem;
    width: 100%;
  }
}
